* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#line1,
#line2 {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
}

a {
    color: inherit;
    /* This will inherit the color from the parent element */
    text-decoration: none;
    /* This will remove the underline */
}

#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}


#main {
    padding-top: 0.7vw;
    width: 100%;
    background-color: black;
}

#hero {
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    margin-left: 30px;
    opacity: .6;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#heading #secondh1 {
    margin-left: 150px;
}

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5 {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
    padding-left: 38px;
}

#chhotiheadings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

#chhotiheadings h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset {
    display: flex;
    gap: 5px;
}

#herofooter .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#second {
    color: #fff;
    padding-right: 10vw;
    padding-top: 90px;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #fff;
    padding-top: 25vw;
    padding-bottom: 10vw;
    padding-left: 29vw;
    width: 100%;
    background-color: black;
}

#textabout {
    width: 25rem;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 250px;
}

#textabout a {
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#subscribe {
    color: #fff;
    padding: 10px 30px;
    padding-bottom: 7vw;
    background-color: black;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

#subscribe a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
}

#footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}